# raw images stay local-only (too large / not ours to redistribute) --
# small reference files directly under data/raw/ (country boundaries,
# sample submission schema) are NOT excluded and get tracked normally
data/raw/training_dataset/
data/raw/test_images_sampled/
data/external/
checkpoints/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.kaggle/
*.pt
*.pth
*.ckpt
